<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.adopt.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.it.adopt.bean.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pet_id" jdbcType="INTEGER" property="petId" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.it.adopt.bean.Comment">
    insert into t_comment (id, user_id, pet_id, 
      comment_time, content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{petId,jdbcType=INTEGER}, 
      #{commentTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.it.adopt.bean.Comment">
    update t_comment
    set user_id = #{userId,jdbcType=INTEGER},
      pet_id = #{petId,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, pet_id, comment_time, content
    from t_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, pet_id, comment_time, content
    from t_comment
  </select>
  <select id="count" resultType="_int">
    select count(*) from t_comment
  </select>
  <select id="selectByPetId" resultMap="selectByPetIdResultMap">
    select id, user_id, pet_id, comment_time, content
    from t_comment where pet_id=#{petId}
  </select>
  <resultMap id="selectByPetIdResultMap" type="com.it.adopt.bean.Comment">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="pet_id" property="petId"/>
    <result column="comment_time" property="commentTime"/>
    <result column="content" property="content"/>

    <collection column="id" select="com.it.adopt.mapper.AnswerMapper.selectByCommentId" property="answers" fetchType="eager"/>
  </resultMap>
</mapper>