<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局设置标签 -->
    <settings>
        <!-- 启用自带的，标准日志组件 -->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!-- 开启驼峰命名自动映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启全局懒加载 -->
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
<!--    开启分页过滤器-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration>