<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 扫描控制器 -->
    <context:component-scan base-package="com.it.adopt.controller"/>
<!--    开启注解驱动-->
    <mvc:annotation-driven/>
    <!-- thymeleaf的视图解析器 -->
    <bean id="thymeleafViewResolver" class="org.thymeleaf.spring6.view.ThymeleafViewResolver">
        <!-- 渲染完成输出采用的字符集 -->
        <property name="characterEncoding" value="UTF-8"/>
        <!-- 如果有多个视图解析器，那么order值越小的优先级越高 -->
        <property name="order" value="1"/>
        <!--当 ThymeleafViewResolver 渲染模板时，会使用该模板引擎来解析、编译和渲染模板-->
        <property name="templateEngine">
            <bean class="org.thymeleaf.spring6.SpringTemplateEngine">
                <property name="templateResolver">
                    <bean class="org.thymeleaf.spring6.templateresolver.SpringResourceTemplateResolver">
                        <!-- 视图前缀 -->
                        <property name="prefix" value="/WEB-INF/templates/"/>
                        <!-- 视图后缀 -->
                        <property name="suffix" value=".html"/>
                        <!-- 模板语法为HTML语法 -->
                        <property name="templateMode" value="HTML"/>
                        <!-- 模板文件的编码是UTF-8 -->
                        <property name="characterEncoding" value="UTF-8" />
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <!-- 静态资源的请求都交给mvc框架来处理 -->
    <mvc:resources mapping="/static/**" location="/static/"/>
    <!--异常处理-->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
<!--        <property name="exceptionMappings">-->
<!--            <props>-->
<!--                <prop key="java.lang.Exception">user/error</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

<!--·······························视图控制器······························································-->
<!--    欢迎页-->
    <mvc:redirect-view-controller path="/" redirect-url="/static/html/login.html" />

<!--管理员视图-->
<!--    <mvc:view-controller path="/admin/login" view-name="admin/login" />-->

<!--    <mvc:view-controller path="/admin/index" view-name="admin/index" />-->
<!--    <mvc:view-controller path="/admin/welcome" view-name="admin/welcome" />-->
<!--    <mvc:view-controller path="/admin/user-list" view-name="admin/user-list" />-->
<!--    <mvc:view-controller path="/admin/user-add" view-name="admin/user-add" />-->
<!--    <mvc:view-controller path="/admin/admin-list" view-name="admin/admin-list" />-->
<!--    <mvc:view-controller path="/admin/admin-add" view-name="admin/admin-add" />-->
<!--    <mvc:view-controller path="/admin/pet-list" view-name="admin/pet-list" />-->
<!--    <mvc:view-controller path="/admin/pet-add" view-name="admin/pet-add" />-->
<!--    <mvc:view-controller path="/admin/adopt-apply" view-name="admin/adopt-apply" />-->
<!--    <mvc:view-controller path="/admin/agree" view-name="admin/agree" />-->
<!--    <mvc:view-controller path="/admin/disagree" view-name="admin/disagree" />-->

<!--    <mvc:view-controller path="/admin/user" view-name="admin/user" />-->
<!--    <mvc:view-controller path="/admin/pet" view-name="admin/pet" />-->
<!--    <mvc:view-controller path="/admin/pet" view-name="admin/developing" />-->
<!--    <mvc:view-controller path="/admin/disagree" view-name="admin/disagree" />-->
<!--    <mvc:view-controller path="/admin/comment" view-name="admin/comment" />-->
<!--    <mvc:view-controller path="/admin/blog" view-name="admin/blog" />-->
<!--    <mvc:view-controller path="/admin/apply" view-name="admin/apply" />-->
<!--    <mvc:view-controller path="/admin/agree" view-name="admin/agree" />-->
<!--    <mvc:view-controller path="/admin/admin" view-name="admin/admin" />-->
<!--    <mvc:view-controller path="/admin/adopt" view-name="admin/adopt" />-->
</beans>