<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/imgs/favicon.webp" type="image/webp">
    <title>个人中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

    <link rel="stylesheet" th:href="@{/static/css/admin/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin/xadmin.css}">
    <script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/static/js/xadmin.js}"></script>
    <script th:src="@{/static/js/jq/jquery-3.4.1.min.js}"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" id="my-form">
<!--            <span>编辑</span><input type="checkbox" lay-skin="switch" lay-text="ON|OFF">-->
            <input type="hidden" name="id" th:value="${session.admin.id}" id="adminid">
            <div class="layui-form-item">
                <label for="L_adminName" class="layui-form-label"><span class="x-red"></span>账号</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_adminName" name='adminName' class="layui-input" th:value="${session.admin.adminName}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_adminPwd" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_adminPwd" name='adminPwd' class="layui-input" th:value="${session.admin.adminPwd}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_realname" class="layui-form-label">真实姓名</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_realname" name='realname' class="layui-input" th:value="${session.admin.realname}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_phone" class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="tel" id="L_phone" name='phone' class="layui-input" th:value="${session.admin.phone}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="email" id="L_email" name='email' class="layui-input" th:value="${session.admin.email}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_birth" class="layui-form-label">生日</label>
                <div class="layui-input-inline">
                    <input type="date" id="L_birth" name='birth' th:value="${session.admin.birth}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_sex" class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_sex" name="sex" autocomplete="off" maxlength="1" class="layui-input" th:value="${session.admin.sex}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_remark" class="layui-form-label">简介</label>
                <div class="layui-input-inline">
                    <textarea id="L_remark" cols="28" rows="3" name="remark" th:text="${session.admin.remark}"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_touxiang" class="layui-form-label">上传照片</label>
                <div class="layui-input-inline">
                    <input id="L_touxiang" type='file' name="img">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_btn" class="layui-form-label"></label>
                <button id="L_btn" class="layui-btn" type="submit">修改</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.querySelector('#my-form').addEventListener('submit', e => {
        e.preventDefault()

        const xhr = new XMLHttpRequest()
        xhr.open('POST', '/admin/update')
        const fd = new FormData()
        //没上传文件，那么后端Multipart对象对应的是null
        fd.append('img', document.querySelector('#L_touxiang').files[0])
        console.dir( document.querySelector('#L_touxiang').files[0] )

        fd.append('remark', document.querySelector('#L_remark').value)
        fd.append('sex', document.querySelector('#L_sex').value)
        fd.append('birth', document.querySelector('#L_birth').value)
        fd.append('email', document.querySelector('#L_email').value)
        fd.append('phone', document.querySelector('#L_phone').value)
        fd.append('realname', document.querySelector('#L_realname').value)
        fd.append('adminPwd', document.querySelector('#L_adminPwd').value)
        fd.append('adminName', document.querySelector('#L_adminName').value)
        fd.append('id', document.querySelector('#adminid').value)

        xhr.send(fd)
        xhr.addEventListener('loadend', ()=>{
            if(xhr.status >= 200 || xhr.status < 300){
                layui.use(['form', 'layer'], function() {
                    let layer = layui.layer;

                    if(xhr.response==='yes'){
                        layer.alert("修改成功", {
                                icon: 6
                            },
                            function() {
                                // 获得frame索引
                                let index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                    }else{
                        layer.alert('修改失败，请联系管理员！')
                    }
                })
            }else{
                console.log(xhr.response)
            }
        })
    })
</script>
</body>
</html>