<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宠物列表</title>
    <link rel="icon" href="/static/imgs/favicon.webp" type="image/webp">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

    <link rel="stylesheet" th:href="@{/static/css/admin/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin/xadmin.css}">
    <script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/static/js/xadmin.js}"></script>
    <script th:src="@{/static/js/jq/jquery-3.4.1.min.js}"></script>

    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #my-nav-bar:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" placeholder="请输入宠物类型" class="layui-input" id="my-search">
                        </div>
                        <div class="layui-inline layui-show-xs-block" onclick="queryUser(document.querySelector('#my-search').value,1)">
                            <button class="layui-btn" lay-submit="false" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                        <button class="layui-btn layui-btn-danger layui-inline" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                        <button class="layui-btn layui-inline" onclick="xadmin.open('添加','/admin/pet-add',600,400)"><i class="layui-icon"></i>添加</button>
                    </div>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                            </th>
                            <th>ID</th>
                            <th>宠物类型</th>
                            <th>宠物名</th>
                            <th>宠物照片</th>
                            <th>性别</th>
                            <th>生日</th>
                            <th>领养状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="user_data">
                        <!--                        动态数据-->
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body">
                    <div class="page">
                        <div class="page">
                            <!--                            导航卡片-->
                            <div id="my-nav-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(()=>{
        queryUser()
    })
    function queryUser(petType, pageNum){
        let urlStr = `/pet/pets`
        if(pageNum){
            urlStr = urlStr +'?pageNum='+ pageNum
        }else{
            urlStr = urlStr +'?pageNum='+ 1
        }
        if(petType){
            urlStr = urlStr +'&petType='+ petType
        }
        //请求数据
        $.ajax({
            url: urlStr,
            type: "GET",
            dataType: 'json',
            success: function (info) {
                //表格
                let pets = info.list
                const tbodyEle = document.querySelector('#user_data')
                let table_code = ''
                for(let i=0; i<info.size; i++){
                    let pet = pets[i]
                    let pic
                    if(pet.pic){
                        pic = pet.pic.split(',')[0]
                    }else{
                        pic = 'cat.jpg'
                    }
                    table_code += `
                        <tr>
                            <td>
                                <input type="checkbox" name="id" lay-skin="primary" value='${pet.id}'>
                            </td>
                            <td>${pet.id}</td>
                            <td>${pet.petType}</td>
                            <td>${pet.petName}</td>
                            <td><img src="/static/imgs/animal/${pic}"/></td>
                            <td>${pet.sex}</td>
                            <td>${pet.birth}</td>
                            <td>${pet.state}</td>
                            <td>${pet.remark}</td>
                            <td class="td-manage">
                                <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                                    <i class="layui-icon">&#xe601;</i>
                                </a>
                                <a title="编辑"  onclick="xadmin.open('编辑','/admin/pet-edit?id=${pet.id}&petName=${pet.petName}',600,400)" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="删除" onclick="member_del(this,${pet.id})" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                    `
                }
                tbodyEle.innerHTML = table_code

                //导航条
                const nav = document.querySelector('#my-nav-bar')
                let nav_code = ''
                //如果有上一页
                if(info.hasPreviousPage){
                    nav_code += `<span class="first" onclick="queryUser(undefined, 1)">首页</span><span onclick='queryUser(undefined, ${info.prePage})' class="prev">&lt;&lt;</span>`
                }
                //拼接当前的导航卡片
                info.navigatepageNums.forEach(function(item, index){
                    if(info.pageNum===item){
                        nav_code += `<span class="current" onclick="queryUser(undefined, ${item})">${item}</span>`
                    }else{
                        nav_code += `<span onclick="queryUser(undefined, ${item})">${item}</span>`
                    }
                })
                //如果有下一页
                if(info.hasNextPage){
                    nav_code += `<span class="next" onclick='queryUser(undefined, ${info.nextPage})'>&gt;&gt;</span><span class="last" onclick="queryUser(undefined, ${info.pages})">尾页</span>`
                }
                document.querySelector('#my-nav-bar').innerHTML = nav_code
                // console.log(info)
            },
            error: function (data) {
                console.log(data)
            }
        })
    }
</script>
<script>

    layui.use(['laydate','form'], function(){
        let laydate = layui.laydate;
        let  form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function(data){

            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    //定义函数
    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
                url: `/pet/delete`,
                type: "GET",
                data: {id: id},
                dataType: 'text',
                success: function (data){
                    if(data==='yes'){
                        // console.log(data)
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else{
                        layer.msg('删除失败，请联系管理员!',{icon:1,time:1000});
                    }
                },
                error: function (data){
                    console.log(data)
                }
            })
        });
    }

    function delAll (argument) {
        let ids = [];

        // 获取选中的id
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
                ids.push($(this).val())
            }
        });

        layer.confirm('确认要删除吗？'+ids.toString(),function(index){
            //发异步删除数据
            $.ajax({
                url: `/pet/deletePets`,
                type: "POST",
                data: {arr: ids},
                traditional: true,
                success: function (data){
                    //后台删除成功后，前端捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', {icon: 1})
                    $(".layui-form-checked").not('.header').parents('tr').remove()
                    console.log(data)
                },
                error: function (data){
                    console.log(data)
                }
            })
        });
    }
</script>
</html>